a {
    color: #00334d;
}
a:hover {
    color: #00334d;
    text-decoration: underline;
}
a:visited {
    color: #00334d;
    text-decoration: none;
}
a:active {
    color: #00334d;
    text-decoration: blink;
}
a.welcome {
    color: whitesmoke;
}
a.welcome:hover {
    text-decoration: underline;
}
h2.icon {
    text-align: center;
}
p.welcome {
    text-align: center;
}
footer {
    text-align: center;
    margin-top: 120px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    border-top: 3px solid silver;
    color: #00334d;
}
.resume {
    text-align: center;
}

.jumbotron {
    color: #00334d;
    background-color: whitesmoke;
    text-align: center;
}
.jumbotron > h1 {
    text-shadow: 0 2px #00334d;
}
.content {
    color: whitesmoke;
}
img.avatar {
    height: 250px;
    border: 5px solid #00334d;
}
body {
    height: 100%;
    background-color: #00334d;
    font-family: 'PT Sans', sans-serif;

}
iframe {
    width: auto;
    height: auto;

}
i.fa {
    font-size: small;

}
@media screen and (min-width: 1080px) {
    i.fa {
        font-size: medium;
    }
    h1 > i {
        font-size: 10em;
    }
    .nav {
        background-color: whitesmoke;
        font-size: 35px;
        text-align: center;
    }
    .nav > a {
        color: #00334d;
        font-family: 'PT Sans', sans-serif;
        text-align: center;
    }
    div.jumbotron {
        border-bottom: 5px solid silver;
    }
    .jumbotron > h1 {
        padding-top: auto;
        text-shadow: 0 2px #00334d;
        color: white;
        font-size: 80px;
        text-align: right;

    }
    .content {
        font-size: 16px;
        margin-top: auto;
        margin-bottom: 2em;
        padding-bottom: 2em;
        background-color: whitesmoke;
        color: #00334d;
        width: 65%;
        border: 5px solid silver;
        border-radius: 7px;
    }
    iframe.video {
        height: 315px;
        width: 560px;
        border-radius: 2px;
    }
    iframe.sound {
        width: 100%;
    }
    a.welcome:hover {
        text-decoration: underline;
    }
    a.welcome {
        color: #00334d;

    }
    iframe.book {
        align-content: center;
        margin: inherit;
        padding: 0;
        width: 100%;
        height: 500px;
    }
}