<div class="content container-fluid">
    <h2>Blog 11/12/2015</h2>
    <p><b>Reading:</b> Irvine mayor's "In God We Trust" design idea falls flat - Sarah de Crescenzo<br>
        <b>Link: </b><a href="http://www.ocregister.com/articles/council-691560-phrase-display.html">Source</a><br><br>
        Mayor Steven Choi of Irvine, California has been met with backlash on his plan to put the words "In God We Trust" on the wall of the council chambers. Critiques of his idea state that the design itself is too big and expensive. Another judgment is that having such holy words in a civic center flies in the face of the separation of the church and the state.<br><br>
        Personally I don't see the reason why such an addition is necessary. If the mayor wants those words around him he can put them up in his own home. Mayor Choi doesn't own the council chambers; they are not his to decorate.<br><br>
        Honestly it doesn't seem as if any members of his council even support this, stating the $3,200 price point is too expensive or that they might be alienating the non-secular community members that they serve. Either way you look at it going through with this design is not a good idea. It just seems like a selfish act by Mayor Choi to use public funding to impose his beliefs.<br>
    </p>
</div>
<div class="content container-fluid">
    <h2>Blog 11/12/2015</h2>
    <p><b>Reading:</b> Either way, the new Starbucks cup is just a good design - By: Stephanie Buck<br>
        <b>Link: </b><a href="http://mashable.com/2015/11/11/starbucks-cup-design">Source</a><br><br>
        The latest outrage to smother the Internet is over Starbucks' new holiday coffee cups. Starbucks decided to follow a fashionable design trend and go with a minimalistic cup this year. Many people took offense to this claiming they were going overboard with political correctness by not having any references to Christmas on the new cup.<br><br>
        I for one think this outrage is utterly ridiculous. To me, whether my coffee cup tells me Merry Christmas or not has no effect on me. I'm going to have a Merry Christmas whether it likes it or not.<br><br>
        In Buck's attached article she goes deeper into the though process of the design and why it's just a good simple design. A lot of designs are trending towards a minimalistic vibe and you have to admit it looks pretty good.<br><br>
        The part where I don't side with Starbucks is when they stated that the cup is blank red so customers could "project their own holiday stories onto it". I'm sorry I don't stare at a Starbucks coffee cup and have flashbacks of childhood Christmases. This explanation seems very lackluster and Starbucks should just stick with the minimalistic story.</p>
</div>
<div class="content container-fluid">
    <h2>Blog 10/21/2015</h2>
    <p><b>Reading: </b>Design Academy Eindhoven Students "see crisis in the world and respond to it" - By: Marcus Fairs<br><b>Link: </b><a href="http://www.dezeen.com/2015/10/21/design-academy-eindhoven-students-crisis-world-problems-responsive-design-interview-creative-director-thomas-widdershoven-dutch-design-week-2015/">Source</a>
        <br><br>
        Students at Eindhoven Design Academy are now focusing on relevant real world design problems rather than small theoretical problems. The students came together and decided they could do a lot of work to help the European refugee crisis.<br><br>
        One proposed design solution was a small portable embassy for stateless refugees. This could be a very great idea if pulled off well. One huge problem with a large mass of refugees is that they're not organized. When given a medium to share ideas and thoughts order could be restored to many individuals who've gone without order for so long. This idea also had a crow sourcing idea; to let refugees come in and suggest ways they could help and fit into their new societies.<br><br>
        The other main project brought up in this article was transferable passports, as in you can basically trade citizenship with other individuals. I personally don't see how this would help refugees. It makes no sense why someone with a perfectly good citizenship would give it up to somebody else no matter how altruistic they are. While I question the use of this idea it does present an entirely new way to perceive the concept of citizenship. Never before has where someone belongs to been seen as something that could be traded or borrowed.
    </p>
</div>
<div class="content container-fluid">
    <h2>Blog 10/13/2015</h2>
    <p><b>Reading:</b> Airbnb's design approach - By: Mary Treseler <br><b>Link: </b><a href="http://radar.oreilly.com/2015/10/airbnbs-design-approach.html">Source</a>
        <br><br>
        When enlightening on how the design process at airbnb works Katie Dill describes it as a "tri-force" of three key guidelines; being a host, simplifying, and every frame matters. The first guideline is very important on multiple levels for airbnb, a service that provides unique alternative temporary housing. The design of airbnb must be very welcoming since the website itself is a medium in which hosts and guests both interact. This means airbnb is serving two different types of users who each have unique interests. One point Dill made was that when hiring new staff she looks for people who have humility because the product they're putting together is not for themselves it is for the users.<br><br>
        The second guideline in Dill's tri-force analogy is simplifying. To me this really was eye opening. You can't just design something that is easy for yourself to navigate, you must factor in your users experience. It's usually fairly easy navigate something you created because you were present throughout every iteration of the design but first time users will have much less of a head start. You can't leave your users behind, design around them to make your interface friendly and welcoming. You never want to confuse your user base.<br><br>
        Every frame matters is the last argument Dill makes. This means that there's no cutting of corners. Every single element of airbnb's website could give a person to either love it or hate it. Something as simple as clashing background and text colors could cause someone to have a bad user experience. Saying something is just good enough is so easy to do but its negative impact on your work can be much more detrimental than the short feeling of relief you receive for finishing something.<br>
        <br>
        Here is the podcast the article references:<br>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/228503276&amp;color=ff5500"></iframe>

    </p>
</div>
<div class="content container-fluid">
    <h2>Blog 10/6/2015</h2>

    <p> <b>Reading:</b> New Microsoft Band adds a barometer and a curved design - By: Mark Langshaw<br>
        <b>Link: </b><a href="http://www.digitalspy.com/tech/news/a672277/new-microsoft-band-adds-a-barometer-and-a-curved-design.html#~pqXZWZUTdvbEXH">Source</a><br><br>

        Microsoft has come out with their new design for their health wristband known as the Microsoft Band and it will be available on October 30th. It seems like the biggest change to this design is that it is curved all the way around the wristband. This was not the case with Microsoft's first iteration of Band as its previous design had a flat screen and then a hemi-circle band attached on either end of the screen. Presumably this design will be far more comfortable no matter where you wear it on your wrist. The previous design's flat screen made it uncomfortable to place the screen side on the top of the wrist and the only place it really felt comfortable was on the underside of the wrist. Microsoft seems confidant in the software involved with Band as they have not made any drastic changes to Band other than the curvature.
        <br><br>The only other new part about the Band is that it will have a barometer sensor to provide users with altitude information. This feels like a very niche addition, as barometers are not necessary for displaying health information, the main purpose of the Band. While I myself am not interested in purchasing a Microsoft Band I could see how the product is an attractive smart band option for those interested in outdoorsy activities such as hiking and rock climbing.<br>
        <br>
        Below is a video of the new Microsoft Band:<br>
    </p><div class="container-fluid" align="center">
    <iframe align="center" width="560" height="315" src="https://www.youtube.com/embed/DBmKfkReBC4" frameborder="0" allowfullscreen=""></iframe>
</div>
    <p></p>
</div>