<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Design</h2>
        <p class="text-center"><br>Experience designing prototypes for websites and mobile apps.</p>
        <a ui-sref="portfolio" href="portfolio"><button class="btn-default btn"><i class="fa fa-arrow-left"></i> Back To Portfolio</button></a>
    </div>
    <div class="panel-body row">
        <div class="col-lg-12 text-center">
            <h1 class="portfolio">Design: Carmax <a href="https://www.justinmind.com/usernote/tests/19355452/19355640/19393736/index.html"><button class="btn btn-default">Try it out!</button></a></h1>
        </div>
        <div class="col-lg-4">
            <div class="container-fluid center-block portfolio">
                <h3>Browse Page</h3>
                <img class="thumbnail portfolio" src="./img/carmaxbrowse.jpg">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="container-fluid center-block portfolio">
                <br>
                <br>
                <br>
                <p>For this project my team and I worked together to design a mobile app for carmax, a hypothetical client.</p>
                <p>The process involved a lot of revisions and teamwork.</p>
                <p>Before settling down on a final prototype we went through rigorous user testing.</p>
                <p>Our final prototype we felt very happy with and that it would solve many use case scenarios for carmax customers.</p>
                <hr>
                <p>During this project I went through the process of whiteboarding, wire-framing, and prototyping.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="container-fluid center-block portfolio">
                <h3 class="portfolio">Dream Car Page</h3>
                <img class="thumbnail portfolio" src="./img/carmaxdream.jpg">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="container-fluid center-block portfolio">
                <h3 class="portfolio">Whiteboarding</h3>
                <img class="thumbnail portfolio" src="./img/carmaxwhiteboard.jpg">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="container-fluid center-block portfolio">
                <h3 class="portfolio">More Whiteboarding</h3>
                <img class="thumbnail portfolio" src="./img/carmaxwhiteboardingbrowse.jpg">
            </div>
        </div>
    </div>
</div>