<div class="banner-home">
    <div class="container-fluid text-center">
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
        <h1>Troy Barnard</h1>
    </div>
</div>
<div class="container-fluid welcome" id="#portfolio">
    <div class="container-fluid">
        <p class="welcome">Hello, I'm web developer studying informatics at UW Seattle.<br>Below are links to a few examples of my work.</p>
    </div>
    <div class="home-portfolio">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-keyboard-o" aria-hidden="true"></i><br>
                Object Oriented
                <hr>
                <ul>
                    <li>Java Programming</li>
                    <li>CSE 143</li>
                    <li>CSE 142</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-laptop" aria-hidden="true"></i><br>
                Web Development
                <hr>
                <ul>
                    <li>Web Developer at <a href="https://www.deako.com/#/" target="_blank">Deako</a></li>
                    <li>AngularJS</li>
                    <li>CSS</li>
                    <li>HTML</li>
                    <li>AWS Elastic Beanstalk</li>
                    <li>gitLab</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-headphones" aria-hidden="true"></i><br>
                Music
                <hr>
                <ul>
                    <li>UW Husky Marching Band</li>
                    <li>UW Drumline Section Leader</li>
                    <li>UW Basketball Band</li>
                    <li>Mom's favorite drummer</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>