<div class="container-fluid" id="#portfolio">
    <div class="container-fluid">
        <p class="welcome">Hello! I'm Troy, a third year student at the University Of Washington in Seattle studying Informatics.</p>
        <p class="welcome">Below are links to a few examples of my work.</p>
    </div>
    <br>
    <p class="welcome">
        <div class="row">
            <div class="col-md-4 text-center">
                <a ui-sref="web" href="web" class="thumbnail web">
                    <i class="fa fa-html5"></i>
                    <i class="fa fa-css3"></i><br>
                    <h3>Web Development</h3>
                </a>

            </div>
            <div class="col-md-4 text-center">
                <a ui-sref="programming" href="programming" class="thumbnail">
                    <i class="fa fa-file-code-o"></i><br>
                    <h3>Programming</h3>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a ui-sref="design" href="design" class="thumbnail">
                    <i class="fa fa-crop"></i><br>
                    <h3>Design</h3>
                </a>

            </div>
        </div>
    </p>
</div>