
<div class="container-fluid content">
    <div class='page-header'>
        <h1>Welcome to TroyBarnard.com <small>my personal website</small></h1>
    </div>
    <h2 class="icon"><i class="fa fa-graduation-cap"></i></h2>
    <p class="welcome">Hello! I'm Troy, a third year student at the University Of Washington in Seattle studying Informatics.</p>
    <h2 class="icon"><i class="fa fa-user"></i></h2>
    <p class="welcome">If you are a prospective employer and interested in my services you may find my resume <a class="welcome" ui-sref="resume"><em>here</em> <i class="fa fa-external-link"></i></a>.</p>
    <h2 class="icon"><i class="fa fa-keyboard-o"></i></h2>
    <p class="welcome">If you have a taste in design you can read my <a class="welcome" ui-sref="blog"><em>design blog</em> <i class="fa fa-external-link"></i></a> I have maintained for my INFO 360 design thinking course.</p>
    <h2 class="icon"><i class="fa fa-youtube-play"></i></h2>
    <p class="welcome">If enjoy music like me come check out some of my <a class="welcome" ui-sref="videos"><em>drum cover videos</em> <i class="fa fa-external-link"></i></a>!</p>
    <br>
    <p class="welcome">Otherwise have a great day and GO DAWGS! <b><i class="fa fa-paw"></i></b></p>
</div>