<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Music</h2>
        <p class="text-center"><br>I'm an accomplished musician; award winning jazz drummer and a proud member of the UW Husky Drumline.</p>
        <a ui-sref="portfolio" href="portfolio"><button class="btn-default btn"><i class="fa fa-arrow-left"></i> Back To Portfolio</button></a>
    </div>
    <div class="panel-body row">
        <div class="col-lg-12 text-center">
            <h1 class="portfolio">Drumming <a href="https://www.youtube.com/user/SuperTroyify/videos"><button class="btn btn-default">Here's my channel! <i class="fa fa-youtube"></i></button></a></h1>
        </div>
        <div class="col-lg-12 text-center">
            <div class="container-fluid center-block portfolio">
                <h3>Drumset</h3>
                <p>Here are a few examples me playing drumset.</p>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="col-lg-12 embed-responsive-16by9 embed-responsive">
            <iframe class="col-lg-12 embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/yqMwfUz0OtI" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-12 embed-responsive-16by9 embed-responsive">
            <iframe class="col-lg-12 embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/vL324vNL1Fs" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-12 embed-responsive-16by9 embed-responsive">
            <iframe class="col-lg-12 embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/cKufgTxhlWQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-12 embed-responsive-16by9 embed-responsive">
            <iframe class="col-lg-12 embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/jDedp3IO10s" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>


</div>