<div class="container-fluid text-center">
    <h1>Portfolio</h1>
    <p>Please select a tile to view my portfolio for each skill.</p>
</div>
<div class="container-fluid">
    <p class="welcome">
    <div class="row">
        <div class="col-md-3 text-center">
            <a ui-sref="web" href="web" class="thumbnail skill">
                <i class="fa fa-html5"></i>
                <h3>Web Development</h3>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a ui-sref="programming" href="programming" class="thumbnail skill">
                <i class="fa fa-file-code-o"></i><br>
                <h3>Programming</h3>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a ui-sref="design" href="design" class="thumbnail skill">
                <i class="fa fa-crop"></i><br>
                <h3>Design</h3>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a ui-sref="music" href="music" class="thumbnail skill">
                <i class="fa fa-music"></i><br>
                <h3>Music</h3>
            </a>
        </div>
    </div>
    </p>

</div>