<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Design</h2>
        <p class="text-center"><br>Experience with object oriented programming.</p>
        <a ui-sref="portfolio" href="portfolio"><button class="btn-default btn"><i class="fa fa-arrow-left"></i> Back To Portfolio</button></a>
    </div>
    <div class="panel-body row">
        <div class="col-lg-12 text-center">
            <h1 class="portfolio">Java: 20 Questions <a href="https://github.com/tbarn2/20Questions"><button class="btn btn-default">Take a look! <i class="fa fa-github"></i></button></a></h1>
        </div>
        <div class="col-lg-12 text-center">
            <div class="container-fluid center-block portfolio">
                <h3>Java Programming</h3>
                <p>I've completed all of the Java Programming courses here at the University of Washington.</p>
                <p>A few data structures I'm experienced with are Stacks, Queues, Binary Trees, Linked Lists, Maps, and Sets.</p>
            </div>
        </div>
    </div>

</div>