<div class="container-fluid content">
    <div class="page-header text-center">
        <h2>My Resumé</h2>
    </div>
        <div class="resume col-lg-6">
            <h1>Skills <i class="fa fa-file-code-o"></i></h1>
            <br>
            <h4>Web Programming</h4>
            <p>HTML, CSS, jQuery, Bootstrap, JavaScript</p><p> Angular JS, Node JS, Bower, SQL</p>
            <h4>Object Oriented Programming</h4>
            <p>Java</p>
            <h4>Design</h4>
            <p>Whiteboarding, Wireframing, User Testing, Script Writing, Prototyping</p>
            <br>
        </div>
        <div class="resume col-lg-6">
            <h1>Education <i class="fa fa-graduation-cap"></i></h1>
            <br>
            <p>2013 - University of Washington <i class="fa fa-paw"></i> - Seattle Washington</p>
            <p>Informatics Major</p><p>
        </p><p>Junior Status</p>
            <p>Studying Informatics (Information Science) with a focus on Information Architecture</p>
            <p>Taken Accounting, Economics</p>
            <p>University of Washington Husky Marching Band, Snare Drum</p>
            <p>Husky Basketball Band, Drumset</p>
        </div>
    </div>
</div>