<div class="container-fluid content resume">
    <h2>Skills <i class="fa fa-file-code-o"></i></h2>
    <p>Java Programming</p>
    <p>HTML, CSS, JavaScript, Angular JS, Node JS, Bower</p>
    <br>
    <h2>Education <i class="fa fa-graduation-cap"></i></h2>
    <p>2013 - University of Washington <i class="fa fa-paw"></i> - Seattle Washington</p>
    <p>Informatics Major</p><p>
</p><p>Junior Status</p>
    <p>University of Washington Husky Marching Band, Snare Drum</p>
    <p>Husky Basketball Band, Drumset</p>
    <p>Focus on Informatics, Human Centered Design and Engineering</p>
    <p>Taken Accounting, Economics, and information technology courses</p>
    <p>2009 - 2013 Hockinson High School - Brush Prairie, WA</p>
    <p>Honor Roll</p>
    <p>National Honors Society</p>
    <p>Top 10% GPA in Washington State</p>
    <br>
    <h2>Experience <i class="fa fa-line-chart"></i></h2>
    <p>Leadership (leadership roles on sports teams [Lacrosse, Hockey])(Drumline Section Leader)</p>
    <p></p>
</div>