<div class="container-fluid content resume">
    <h2>Skills <i class="fa fa-file-code-o"></i></h2>
    <p>Java</p>
    <p>HTML, CSS, jQuery, Bootstrap, JavaScript, Angular JS, Node JS, Bower</p>
    <br>
    <h2>Education <i class="fa fa-graduation-cap"></i></h2>
    <p>2013 - University of Washington <i class="fa fa-paw"></i> - Seattle Washington</p>
    <p>Informatics Major</p><p>
</p><p>Junior Status</p>
    <p>University of Washington Husky Marching Band, Snare Drum</p>
    <p>Husky Basketball Band, Drumset</p>
    <p>Focus on Informatics, Human Centered Design and Engineering</p>
    <p>Taken Accounting, Economics, and information technology courses</p>
</div>