<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Web Development</h2>
        <p class="text-center">I have been making websites for years now and I really love it!<br>Here are a few projects I've worked on.</p>
        <a ui-sref="portfolio" href="portfolio"><button class="btn-default btn"><i class="fa fa-arrow-left"></i> Back To Portfolio</button></a>
    </div>
    <div class="panel-body row">
        <div class="col-sm-12 text-center">
            <h1 class="portfolio">Angular: Bust A Move <a href="http://students.washington.edu/tbarn2/info343/FinalProject/#/"><button class="btn btn-default">Try it out!</button></a></h1>
        </div>
        <div class="col-sm-3">
            <div class="container-fluid center-block portfolio">
                <h3>Home Page</h3>
                <img class="thumbnail portfolio" src="./img/343final.png">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="container-fluid center-block portfolio">
                <br>
                <br>
                <br>
                <p>For this project my team and I wanted to implement a web app that had a database of dance moves to learn.</p>
                <p>We stored dance moves in a JSON file which kept track of attributes like name, genre, description, and youtube tutorial for each dance move.</p>
                <p>Another component we wanted to make sure we had working was the search feature.</p>
                <p>This web app also uses partials through ui-router and ui-bootstrap</p>
                <hr>
                <p>During this project I worked with HTML, CSS, Bootstrap, jQuery, JavaScript, and Angular JS.</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="container-fluid center-block portfolio">
                <h3 class="portfolio">Genre Specific Page</h3>
                <img class="thumbnail portfolio" src="./img/343finalcat.png">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="container-fluid center-block portfolio">
                <h3 class="portfolio">Search Functionality</h3>
                <img class="thumbnail portfolio" src="./img/343finalsearch.png">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="container-fluid center-block portfolio">
                <h3 class="portfolio">Dance Move Page</h3>
                <img class="thumbnail portfolio" src="./img/343finaldance.png">
            </div>
        </div>
    </div>
</div>